body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: pink;
}

#helloThere,
#hT2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}

#nyImage {
    display: none;
}

#nyText {
    display: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    color: white;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}